* {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body {
  background-color: #EFEFEF;
  min-width: 300px;
}

h1 {
  font-size: 34px;
  font-weight: 800;
}

h2 {
  font-size: 26px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 13px;
}

button {
  outline: none;
}

button:hover {
  color: white;
}

/* header section */

.site-header {
  width: 100%;
  height: 110px;
  background-color: #2B2B2B;
  position: relative;
}

.nav-container {
  position: absolute;
  left: 10px;
  bottom: 22px;
}

.nav-item {
  color: #e6e6e6;
  display: inline-block;
  font-family: "Lato";
  font-size: 18px;
  margin: 0px 5px
}

.nav-item:hover {
  color: white;
  cursor: pointer;
}

.nav-icon {
  color: #4d94ff;
  margin: 0px 5px;
}

.admin-link {
  position: absolute;
  font-family: "Lato";
  color: #4d94ff;
  font-size: 14px;
  top: 10px;
  right: 20px;
}

.admin-icon {
  color:  #EFEFEF;
  margin: 0 8px;
}

.main-branding {
  position: absolute;
  font-family: "Lato";
  font-weight: 400;
  color: #e6e6e6;
  font-size: 40px;
  bottom: 15px;
  right: 20px;
}

/* main section */

.site-body {
  padding: 20px ;
}

.body-header {
  margin-bottom: 20px;
}

.cards-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

/* cards */

.card-tile {
  min-height: 380px;
  max-width: 600px;
  background-color: #FFFFFF;
  box-shadow: 2px 0px 4px #a6a6a6;
}

.card-header {
  position: relative;
  height: 140px;
}

.card-link-arrow {
  position: absolute;
  background: url('../images/arrow.png') no-repeat;
  background-position: center;
  background-size: 35px;
  border: none;
  width: 40px;
  height: 40px;
  top: 10px;
  left: 10px;
}

.views-label {
  position: absolute;
  color: #FFFFFF;
  top: 10px;
  right: 10px;
}

.views-count {
  position: absolute;
  color: #FFFFFF;
  right: 19px;
  top: 30px;
}

.card-section {
  width: 100%;
}

.name-label {
  margin: 20px 10px 7px 10px;
}

.time-label {
  margin: 0px 10px 10px;
}

.card-link {
  background-color: #EFEFEF;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  color: #2B2B2B;
  word-wrap:break-word;
  width: 88%;
  margin: 10px 5%;
  padding: 10px;
}

.playlist-label {
  margin: 10px 10px 5px;
}

.playlist-name {
  margin: 0px 10px 20px;
}

.attachments-label {
  margin: 10px 10px 5px;
}

.attachments-number {
  margin: 0px 10px 20px;
  color: #4d94ff;
}

/* card header images */

.new-york {
  background: url(../images/ny.jpg) no-repeat; 
}

.mvy {
  background: url(../images/mvy.jpg) no-repeat;
}

.ct {
  background: url(../images/ct.jpg) no-repeat;
}

.co {
  background: url(../images/co.jpg) no-repeat;
}

.valparaiso {
  background: url(../images/valparaiso.jpg) no-repeat;
}

.berlin {
  background: url(../images/berlin.jpg) no-repeat;
}

.cdmx {
  background: url(../images/cdmx.jpg) no-repeat;
}

.atacama {
  background: url(../images/atacama.jpg) no-repeat;
}

.img-banner {
  background-position: center;
  background-size: cover;
}

/* media */

@media screen and (max-width: 1000px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 575px) {
  .cards-container {
    grid-template-columns: 1fr;
  }

  .site-header {
    height: 100px;
  }

  .main-branding {
    top: 15px;
    left: 18px;
    font-size: 34px;
  }

  .admin-link {
    top: 25px;
  }

  .nav-container {
    bottom: 15px;
  }

  .nav-item {
    font-size: 15px;
  }
}